


















































<!-- {% extends 'base.html' %}
{% load static from static %}
{% block title %}Details Check {% endblock title %}

{% block body %}
<h3 class="heading-center">Check Your all Details</h3>
<div class="details-check">
    <div class="check-product">
        <h3>Total Product</h3>
            <span class="check-pro-name">{{details.name}}</span>
           
    </div>
    <div class="usr-details">
        <h3>Address Details</h3>
        <div class="check-product">
            <span class="check-pro-add">Name</span>
            <span class="check-pro-add">Address1</span>
            <span class="check-pro-add">Address2</span>
            <span class="check-pro-add">Pincode</span>
            <span class="check-pro-add">State</span>
            <span class="check-pro-add">phone</span>
        </div>
    </div>

    <button class="btn-payment">Pay</button>
</div>


{% endblock body %}
{% block js %}

{% endblock js %} -->